<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}

            <title>{% block title %} {{ title }} | Panel {% endblock %} </title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8">
            <meta name="description" content="{% block meta_description %} Panel Amazonas {% endblock %}">
            <meta name="author" content="Autor">

            <!-- Responsive Metatag -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <link rel="icon" type="image/png" href="/src/default/favicon.png" />

            {% block stylesheet_header %}
                <link rel="stylesheet" type="text/css" media="screen" href="/src/bootstrap/css/bootstrap.min.css" />
                <link rel="stylesheet" type="text/css" media="screen" href="/src/font-awesome/css/font-awesome.min.css" />
                <link href="/src/amazonas/css/AdminLTE.css" rel="stylesheet" type="text/css" />
                <link href="/src/amazonas/css/skins/skin-blue.css" rel="stylesheet" type="text/css" />
                <link href="/src/amazonas/css/admin.css" rel="stylesheet" type="text/css" media="screen">
                <link href="/src/tools/css/k-alert.css" rel="stylesheet" type="text/css" media="screen">
            {% endblock %}

            {% block javascript_header %}
                <script type="text/javascript" src="/src/jquery/jquery.min.1.9.1.js"></script>
                <script type="text/javascript" src="/src/bootstrap/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="/src/tools/js/k-alert.js"></script>
            {% endblock %}

        {% endblock %}
    </head>
    <body class="skin-blue">

        <div class="wrapper">

        <header class="main-header">

            <a href="{{ build_url('panel-dashboard') }}" class="logo"><b>{{ title }}</b></a>

            <nav class="navbar navbar-static-top" role="navigation">

                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">{{ username }} </span>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="user-header">
                                    <img src="/images/user-admin.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        {{ username }} - {{ role }}
                                        <small>&Uacute;ltima sesi&oacute;n {{ date_format(last_logging, 'd-m-Y') }}</small>
                                    </p>
                                </li>

                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ build_url(default_route_layout, {'controller':'Admin/Admins','action':'edit','param1':user_id}) }}" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ build_url('logout') }}" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">

            <section class="sidebar">

                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
                  <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                  </span>
                    </div>
                </form>

                <ul class="sidebar-menu">
                    <li class="header">Opciones</li>

                    <li class="treeview">
                        <a href="#"><span>P&aacute;ginas {{ route }}</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Pages',action:'list'}) }}">Lista</a></li>
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Pages',action:'new'}) }}">Nueva</a></li>
                            <li>
                                <a href="#"> Categor&iacute;as <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ build_url(default_route_layout, {controller:'Admin/PagesCategories',action:'list'}) }}"> Lista</a></li>
                                    <li><a href="{{ build_url(default_route_layout, {controller:'Admin/PagesCategories',action:'new'}) }}"> Nueva</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><span>Noticias</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Posts',action:'list'}) }}">Lista</a></li>
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Posts',action:'new'}) }}">Nueva</a></li>
                            <li>
                                <a href="#"> Categor&iacute;as <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ build_url(default_route_layout, {controller:'Admin/PostsCategories',action:'list'}) }}"> Lista</a></li>
                                    <li><a href="{{ build_url(default_route_layout, {controller:'Admin/PostsCategories',action:'new'}) }}"> Nueva</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><span>Bloques</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Blocks',action:'list'}) }}">Lista</a></li>
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Blocks',action:'new'}) }}">Nuevo</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="{{ build_url(default_route_layout, {controller:'Admin/Carousels',action:'list'}) }}"><span>Carrusel</span></a>
                    </li>
                    <li class="treeview">
                        <a href="#"><span>Usuarios</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ build_url('@default-admin-user', {controller:'Admin/Users',action:'list'}) }}">Lista</a></li>
                            <li><a href="{{ build_url('@default-admin-user', {controller:'Admin/Users',action:'new'}) }}">Nuevo</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><span>General</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Languages',action:'list'}) }}">Lenguajes</a></li>
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Admins',action:'list'}) }}">Administradores</a></li>
                            <li><a href="{{ build_url(default_route_layout, {controller:'Admin/Settings',action:'list'}) }}">Ajustes</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>

            <div class="content-wrapper">
                {% block content %}{% endblock %}
            </div>

            {% block footer %}
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    Panel de administraci&oacute;n
                </div>
                <strong>Copyright &copy; 2015</strong>, Amazonas es un producto de <a href="http://dinnovos.com" target="_blank">Dinnovos</a>. Todos los derechos reservados.
            </footer>
            {% endblock %}

        </div>

        {% block javascript_footer %}
            <script type="text/javascript" src="/src/amazonas/js/app.js"></script>
            <script type="text/javascript" src="/src/amazonas/js/admin.js"></script>
        {% endblock %}
    </body>

</html>