{% extends "amazonas.admin.twig" %}

{% block stylesheet_header %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/src/upload/css/k-upload.css">
{% endblock %}

{% block javascript_header %}
    {{ parent() }}
    <script type="text/javascript" src="/src/upload/js/jquery.form.js"></script>
    <script type="text/javascript" src="/src/upload/js/k-upload.js"></script>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    <script type="text/javascript" src="/src/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            {{ view_title|raw }}
            <small>Administraci&oacute;n</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ level_breadcrumb|raw }}"><i class="fa fa-dashboard"></i>{{ view_title|raw }}</a></li>
            <li class="active">{{ here_breadcrumb|raw }}</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-lg-9">

                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Editar el registro - <a href="{{ build_url(default_route, {'controller':view_controller,'action':'list'}) }}" class="btn btn-primary btn-sm">Ver lista</a></h3>
                    </div>

                    <form role="form" method="post" action="">
                        {% include "_form.twig" %}
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </section>

{% endblock %}