{% extends 'layouts/amazonas.simple.admin.twig' %}

{% block content %}
    <div class="login-logo">
        <a href="{{ build_url('login') }}"><b>{{ title }}</b> - Panel </a>
    </div>
    <div class="login-box-body">

        {% if status == 1 %}

            <h1>&#161;Nuevo Enlace!</h1>
            <p class="alert alert-success">Hemos enviado un correo electr&oacute;nico a su cuenta {{ email }}.</p>
            <p> Por favor sigas los pasos del mismo para crear una nueva clave de acceso.</p>

        {% elseif status == 2 %}

            <h1>&#161;Error inesperado!</h1>
            <p class="alert alert-danger">Hemos detectado un error inesperado, por favor intente m&aacute;s tarde.</p>

        {% else %}

            <h3>Recuparar Clave</h3>

            <form class="form-signin" action="" method="post">

                <fieldset>
                    {% if errors.global %}
                        <p class="alert alert-danger">{{ errors.global|raw }}</p>
                    {% else %}
                        <div class="alert alert-warning">Coloque su direcci&oacute;n de correo y le enviaremos un enlace para recuperar su clave.</div>
                    {% endif %}

                    <div class="form-group">
                        <div class="{{ ( errors.email ) ? 'has-error': '' }} ">
                            <input type="text" name="forgotten[email]" class="form-control" title="Ej: main@example.com" placeholder="Correo Electr&oacute;nico" />
                            {% if errors.email %}
                                <p class="text-danger">{{ errors.email|raw }}</p>
                            {% endif %}

                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ build_url('captcha')|raw }}" width="130" />
                        </div>

                        <div class="col-md-7">
                            <div class="{{ ( errors.captcha ) ? 'has-error': '' }} ">
                                <p class="text-center"><input type="text" name="code_captcha" class="form-control captcha" placeholder="C&oacute;digo." /></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if errors.captcha %}
                                <p class="text-danger text-center">{{ errors.captcha|raw }}</p>
                            {% else %}
                                <p class="text-info text-center">Escriba el c&oacute;digo de la imagen en el campo.</p>
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <p class="text-center"> <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Enviando...">Enviar</button> </p>
                </fieldset>

            </form>

        {% endif %}

    </div>
{% endblock %}