{% extends "layouts/amazonas.simple.admin.twig" %}

{% block content %}

<div class="login-box-body">

    {% if status == 1 %}

        <h3>&#161;Modifique su clave de acceso!</h3>

        <form class="form-signin" action="" method="post">

            <fieldset>

                {% if errors.global %}
                    <p class="alert alert-danger">{{ errors.global|raw }}</p>
                {% else %}
                    <div class="alert alert-warning">Coloque su nueva clave y luego escr&iacute;bala de nuevo.</div>
                {% endif %}

                <div class="form-group">
                <input type="password" name="modify[password]" class="form-control" placeholder="Clave" />
                {% if errors.password %}
                    <p class="text-danger">{{ errors.password|raw }}</p>
                {% endif %}
                </div>

                <div class="form-group">
                <input type="password" name="modify[confirmation_password]" class="form-control" placeholder="Confirmaci&oacute;n" />
                {% if errors.confirmation_password %}
                    <p class="text-danger">{{ errors.confirmation_password|raw }}</p>
                {% endif %}
                </div>

            </fieldset>

            <fieldset>
                <p class="text-center"> <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Guardando...">Guardar</button> </p>
            </fieldset>

        </form>

    {% elseif status == 2 %}

        <h1>&#161;Enlace ha caducado!</h1>
        <p class="alert alert-danger">Lo sentimos este enlace ha caducado. <a href="{{ build_url('admin-forgotten-password') }}">&iquest;Desea intentarlo de nuevo?</a></p>

    {% elseif status == 3 %}

        <h1>&#161;Cuenta de correo sin verificar!</h1>
        <p class="alert alert-danger">Lo sentimos pero su cuenta de correo aun no ha sido verificada. Por favor inicie sesi&oacute;n haciendo clic  <a href="{{ build_url('login-user') }}">aqu&iacute;</a> y siga los pasos para activar su tienda.</p>

    {% elseif status == 4 %}

        <h1>&#161;Clave modificada correctamente!</h1>
        <p class="alert alert-success">Su clave ha sido modificada correctamente.</p>
        <p> Le invitamos a iniciar sesi&oacute;n utilizando su nueva clave de acceso. Haga clic <a href="{{ build_url('login') }}">aqu&iacute;</a>. </p>

    {% else %}

        <h1>&#161;Enlace Inv&aacute;lido!</h1>
        <p class="alert alert-danger">Este enlace es inv&aacute;lido, por favor verifique nuevamente.</p>

    {% endif %}

</div>

{% endblock %}